#  Bỏ qua Môi trường ảo
venv/
SmartTourism/venv/
__pycache__/
*.pyc

__pycache__/
*.pyc

echo "SmartTourism/venv/" >> .gitignore
echo "venv/" >> .gitignore

.vs/

*.sln
*.pyproj
*.user


bin/
obj/
Debug/
Release/

# --- Dataset folders (ignore heavy data) ---
data/**/images/
data/**/labels/

# compressing file
*.zip
*.rar
*.tar
*.tar.gz

