#  Bỏ qua Môi trường ảo
venv/


__pycache__/
*.pyc


.vs/

*.sln
*.pyproj
*.user


bin/
obj/
Debug/
Release/

# --- Dataset folders (ignore heavy data) ---
data/**/images/
data/**/labels/

# compressing file
*.zip
*.rar
*.tar
*.tar.gz

